doctype html
html(lang="en", data-ng-app="amplitudejsdemo")

  head
    amplitudejs(apikey='80670c002958c669424d60a2a2c852e2')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='css/app.css')
  body(ng-controller='homeController as vm')
    h1 {{ vm.title }}
    a(ng-href='#here', ng-click='vm.sendEvent()') Send event
    script(src='js/vendor.js')
    script(src='js/app.js')
